{{! Navbar }}
{{> _navbar }}

<div class="container" id="principal">

          <main>

                    <div id="titleBtn">
                              <h1>Meus carrinho:</h1>
                    </div>
                    
                    {{! Exibindo produtos }}
                    <div class="produtos">

                              {{#each products}}

                              <div class="mb-3 conteudo">

                                        <div class="img">

                                                  <img class="image" src="../img/products/{{image}}"
                                                  alt="Imagem do produto">
                                        </div>
                                        
                                        <div id="info">
                                                  <h6 class="nome">{{name}}</h6>
                                                  <h6 class="valor">Valor:R$ <span>{{price}}</span></h6>
                                                  <h6 class="quantidade">Quantidade: <span>{{quant}}</span> </h6>
                                        </div>

                                        <div>
                                                  <form action="/rm-carrinho" method="post">
                                                                      
                                                                      <div class="input-group" id="quant">


                                                                                <div class="input-group-prepend">
                                                                                          <button class="btn btn-outline-secondary btn-decrement"
                                                                                                    type="button">-</button>
                                                                                </div>

                                                                                <input type="text"
                                                                                          class="form-control quantity-input"
                                                                                          value="1" min="1" name="quant">

                                                                                <div class="input-group-append">
                                                                                          <button class="btn btn-outline-secondary btn-increment"
                                                                                                    type="button">+</button>
                                                                                </div>

                                                                                <input type="hidden" name="id" value="{{id}}">

                                                                                <div class="mt-3">
                                                                                          <button type="submit" class="btn btn-compra" >Remover</button>
                                                                                </div>
                                                                      </div>

                                                            </form>
                                        </div>

                              </div>

                              {{/each}}

                    </div>

          </main>


</div>