{{> _navbar }}

<div class="container" id="home">

          <form action="/inicio" method="get">

                    <div class="input-group mb-3">

                              <input type="text" class="form-control" placeholder="Digite o nome do produto"
                                        aria-label="Digite o nome do produto" aria-describedby="button-addon2" id="pesquisa" name="search">

                              <button class="btn" type="submit" id="btn-search">
                                        <ion-icon name="search-outline"></ion-icon>
                              </button>

                    </div>

          </form>

          {{! Exibindo produtos }}
                    <div id="produtos2">

                              {{#each products}}

                              <div class="mb-3 conteudo">

                                        <div class="img">

                                                  <img class="image" src="../img/products/{{dataValues.image}}"
                                                  alt="Imagem do produto">
                                        </div>

                                        <div id="info">
                                                  <h6 class="nome">{{dataValues.name}}</h6>
                                                  <h6 class="categoria">{{dataValues.category}}</h6>
                                                  <h6 class="valor">Valor: R$ <span>{{dataValues.price}}</span></h6>
                                                  <h6 class="quantidade">Estoque: <span>{{dataValues.amount}}</span> </h6>
                                        </div>

                                        <div id="btn">
                                                            <button data-id="{{dataValues.id}}" data-quant="1" class="btn me-2 add-cart"> <ion-icon name="add-outline"></ion-icon> </button>

                                                            <a href="/produto/{{dataValues.id}}" class="btn"> Ver mais </a>

                                        
                                        </div>

                              </div>

                              {{/each}}

                    </div>

</div>