{{! Navbar }}
{{> _navbar }}

<div class="container" id="principal">

          <main>

                    <div id="titleBtn">
                              <h1>Meus produtos:</h1>

                              <a href="/produtos/cadastrar" class="btn mt-3">Adicionar produto</a>
                    </div>
                    
                    {{! Exibindo produtos }}
                    <div class="produtos">

                              {{#each products}}

                              <div class="mb-3 conteudo">

                                        <div class="img">

                                                  <img class="image" src="../img/products/{{dataValues.image}}"
                                                  alt="Imagem do produto">
                                        </div>

                                        <div id="info">
                                                  <h6 class="nome">{{dataValues.name}}</h6>
                                                  <h6 class="categoria">{{dataValues.category}}</h6>
                                                  <h6 class="valor">Valor: R$ <span>{{dataValues.price}}</span></h6>
                                                  <h6 class="quantidade">Estoque: <span>{{dataValues.amount}}</span> </h6>
                                        </div>

                                        <div id="btn-1">
                                                  <a href="" class="btn btn-danger"><ion-icon name="close-outline"></ion-icon></a>
                                        </div>

                              </div>

                              {{/each}}

                    </div>

          </main>


</div>